body {
    background-color: rgb(238, 229, 233);
}

h1 {
    color: rgb(77, 65, 52);
    text-align: center;
}
h2 {
    color: rgb(77, 65, 52);
}
ul {
    list-style-type: none;
}
.center {
    align-content: center; 
}