body {
    background-color: rgb(238, 229, 233);
}

h1 {
    color: rgb(77, 65, 52);
    text-align: center;
}
h2 {
    color: rgb(77, 65, 52);
    text-align: center;
}
ul {
    list-style-type: none;
}
.center {
    align-content: center;
    margin: auto;
    width: 60%;
}
.align-row {
    float: left;
    text-align: left;
    margin-left: 35%;
    margin-right: 35%;
}